@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Inter:wght@300;400;500;600;700&display=swap');

/// Abstracts
@import 
"abstracts/functions", 
"abstracts/mixins" , 
"abstracts/variables";

/// Core
@import
"core/normalize",  
"core/accessibility", 
"core/root",
"core/global",
"core/typography";

/// Layout
@import 
"layout/wrapper", 
"layout/header", 
"layout/main", 
"layout/sections", 
"layout/footer";

// Components
@import 
"components/progress-bar",
"components/logo",
"components/projects",
"components/arrow",
"components/credit",
"components/social-media",
"components/navigation";


/*
Sort styles by box-model, starting from the outside and move inward.
.foo {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: black;
  overflow: hidden;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}
*/
