/*===============
  Sections Styles
===============*/
.section {
    &__inner {
        max-width: var(--default-max-width);
        margin: 0 auto;
        padding: 8rem 1rem 6rem 1rem;
        text-align: center;
    }

    &__content {
        position: relative;
        z-index: 300;
    }

    &--intro {
        .section__inner {
            padding-top: 0;
        }
    }
    
    &--about {
        background-image: var(--default-about-background-image);
        background-size: 1800px 130px, 300px 300px;
        background-repeat: repeat-x, repeat;
        background-position: 0 0;
    }

    &--projects {
        background-image: var(--default-projects-background-image);
        background-size: 1800px 71px, 300px 300px;
        background-repeat: repeat-x, repeat;
        background-position: 0 bottom;
    }
}
